<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    <title>FeliniCoin Trivia Game</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">

        <!-- Buttons for Navigation -->
        <div class="top-buttons">
            <a href="/" class="subtle-btn">Home</a>
            <a href="/withdraw" class="subtle-btn">Withdraw Tokens</a>
            <a href="https://stellarterm.com/exchange/FELNY-GCXDWF3K3J2T7ROWH7BBTZHG3DMKAVJBQB5M73OOMOU65HQBZVWVCCAI/XLM-native" class="subtle-btn" target="_blank">Sell Tokens</a>
            <a href="/about" class="subtle-btn">About the Token</a>
            <% if (user) { %>
                <a href="/logout" class="subtle-btn">Logout</a>
            <% } else { %>
                <a href="/auth/google" class="subtle-btn">Login</a>
            <% } %>
        </div>



        <!-- Header with Logo -->
        <div class="header-with-image">
            <h1>
                <img src="/images/FeliniCoin_small.png" alt="FeliniCoin Logo" class="title-icon">
                FeliniCoin
            </h1>
        </div>

        <p>Answer questions, earn <strong>FELNY</strong> tokens</p>

        <!-- Wallet Information -->
        <div class="wallet-info">
            <h3>Tokens Available: <%= totalSiteBalance %> FELNY</h3>
        </div>

        <!-- Start Game -->
        <a  id="google-auth-button" class="btn">Login</a>

        <!-- Rules -->
        <div class="rules">
            <h2>How to Play</h2>
            <ul>
                <li>Answer random AI questions to earn FELNY tokens.</li>
                <li>Withdraw your tokens to your Stellar wallet.</li>          
            </ul>
        </div>
    </div>
<script>
    // script.js
    let isPublic = false;

    document.addEventListener('DOMContentLoaded', () => {
        
      // Handle Google Authentication Button Click
      const googleAuthButton = document.getElementById('google-auth-button');
      if (googleAuthButton) {
           googleAuthButton.addEventListener('click', () => {
               
           // Redirect to Google OAuth endpoint
           window.location.href = '/auth/google';

                // Redirect logged-in users to /start
                <% if (user) { %>
                    window.location.href = '/start';
                <% } else { %>
                    // Redirect to Google OAuth endpoint
                    window.location.href = '/auth/google';
                <% } %>
           });
        }
   });

</script>
    
</body>    
</html>

